.jumbotron{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.card-deck .card{
    flex: 0 1 350px;
    margin-bottom: 30px;
}
.card-deck img{
    width: 100%;
    height: 300px;
}
.card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#search{
    width: 20*%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#navPagination{
    margin-left: 30px;
    margin-right: 30px;
}
@media (max-width: 1000px) {
    body{
        background-color: gray;
    }
    #search{
        width: 80%;
        margin-top: 50px;
    }
    h3{
        font-size: 60px;
    }
}